<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>SpaceRoyale</title>

        <!-- Favicons -->
        <link href="../assets/img/favicon.png" rel="icon">
    </head>

    <body style="background-color: black">

    <div id="input-box" style="display: none">
        <h4>This box will always be centered to the window</h4>
        <input type="text" name="input1" placeholder="firstName"><br/>
        <input type="text" name="input2" placeholder="lastName"><br/>
        <button type="submit">submit</button>
    </div>



        <script src="/socket.io/socket.io.js"></script>
        <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.min.js"></script>
        <script id="gameScript" src="../game/game.js" type = "module" user="<%= JSON.stringify(user) %>"></script>
        <script src="../game/starsBackground.js" type = "module"></script>
    </body>

</html>