
<section id="main" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

    <!-- First row of boxes -->
    <div class="row boxes justify-content-center">
      <%- include("./components/boxes/instructions") %>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="box justify-content-center">
          <div class="col-xl-12 text-center" data-aos="zoom-in" data-aos-delay="700">
            <img src="assets/img/TEXT-TRANSPARENT.webp" class="logo" alt="SPACE" width="100%">
            <h6>Take out the leader or try to survive</h6>
          </div>
          <form action="/game" method="post" name="nickname">
            <input type="text" name="nickname" class="form-control login-user" id="name" maxlength="20" placeholder="Nickname">
            <button type="submit" class="btn btn-submit" id="btnPlay">Play</button>
          </form>


          <div class="row bottom">
            <div><p class="login-invitation">Login to collect spaceship skins and track personal stats! </p></div>
            <div class="col-md-6">
              <a href="/login" class="btn btn-link" id="login">Login</a>
            </div>
            <div class="col-md-6">
              <a href="/signup" class="btn btn-link" id="signup">Sign up</a>
            </div>
          </div>
        </div>
      </div>

      <%- include("./components/boxes/tip") %>

    </div>
  </div>
</section>

<script type="text/javascript">
  const name = document.getElementById("name");
  const btnPlay = document.getElementById("btnPlay");

  btnPlay.onclick = function (){
    if (name){
      sessionStorage.setItem("name", name.value)
    }
  }

  if(typeof sessionStorage.name != 'undefined'){
    document.getElementById("name").setAttribute('value', sessionStorage.name)
  }
</script>

