<div class="d-flex align-items-center">
    <div class="container">
        <div class="row boxes">
            <div class="col-md-4 mx-auto">
                <div class="justify-content-center" >
                    <div class="box form">
                        <div>
                            <a href="/" class="btn-func"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Login</h1>
                                <% if (typeof success != 'undefined') { %>
                                    <p class="text-success"><%= success %></p> <%
                                }%>
                            </div>
                        </div>
                        <span id="error-login"></span>
                        <form action="/login" method="post" name="login">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" maxlength="255">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password" maxlength="50">
                            </div>
                            <% if (messages.error) { %>
                                <p class="error"><%= messages.error %></p> <%
                            }%>
                            <div class="box_noBorder">
                                <button type="submit" class="btn btn-submit" id="btnSubmit">Login</button>
                                <p class="text-center">Don't have account?
                                    <a href="/signup" id="signup">Create an account</a>
                                </p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const btnSubmit = document.getElementById("btnSubmit");

    btnSubmit.onclick = function (){
        sessionStorage.clear();
    }
</script>