<div class="d-flex align-items-center">
    <div class="container">
        <div class="row boxes">
            <div class="col-md-6 col-xs-3 mx-auto">
                <div class="justify-content-center" >
                    <div class="box form">
                        <div>
                            <a href="/user" class="btn-func"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="logo mb-3 col-md-12">
                            <h1>Skins</h1>
                        </div>
                        <div>
                            <% if (typeof errorItems != 'undefined') { %>
                                <p class="error"><%= errorItems %></p>

                            <%}%>
                            <!--- header --->
                            <div class="coinBox col-md-6 col-lg-2 col-xs-3 d-flex justify-content-end">
                                <span><%= user.currency %></span>
                                <i class="ri-coins-fill coin"></i>
                            </div>
                            <!--- end of header --->
                            <!--- Tabs --->
                            <div class="col-xs-3 d-flex nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/shop">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="">Owned</a>
                                </li>
                            </div>

                            <div class="container container-module">
                                <div class="row">
                                    <% if(skins.length !== 0){
                                    skins.forEach(function(skin) { %>
                                        <div class="col-md-4">
                                            <div class="shopItem">
                                                <img src="../assets/img/skins/<%= skin.imgname %>.png" class="shopItem" alt="skin">
                                            </div>
                                            <% if(skin.itemid === user.skinid){%>
                                                <a  role="button" class="btn btn-submit btn-buy unable">
                                                    Current
                                                </a>
                                            <%} else{%>
                                                <a href="/user/shop/select-skin/<%= skin.itemid %>" role="button" class="btn btn-submit btn-buy">
                                                    Select
                                                </a><%
                                            }%>
                                        </div><% })
                                    } else{%>
                                        <div class="col">
                                            <p>Your inventory is currently empty</p>
                                            <p>Visit the shop and buy a skin NOW!</p>
                                        </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>