<div class="d-flex align-items-center">
    <div class="container">
        <div class="row boxes">
            <div class="col-md-6 col-xs-3 mx-auto">
                <div class="box form">
                    <div>
                        <a href="/user" class="btn-func"><i class="fa fa-close"></i></a>
                    </div>
                    <div class="logo mb-3 col-md-12">
                        <h1>Skins</h1>
                    </div>
                    <div>
                        <% if (typeof errorShop != 'undefined') { %>
                            <p class="error"><%= errorShop %></p>
                        <%}%>
                        <!--- header --->
                        <div class="coinBox col-md-6 col-lg-2 d-flex justify-content-end">
                            <span<% if (typeof errorShop != 'undefined') { %> style="color:red"<%}%>>
                                <%= user.currency %>
                            </span>
                            <i class="ri-coins-fill coin"></i>
                        </div>
                        <!--- end of header --->
                        <!--- Tabs --->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/owned-skins">Owned</a>
                            </li>
                        </ul>

                        <div class="container container-module">
                            <div class="row">
                                <% if(skins.length !== 0){
                                    skins.forEach(function(skin) { %>
                                    <div class="col-md-4 col-xs-4 justify-content-end">
                                        <div class="shopItem">
                                            <img src="/assets/img/skins/<%= skin.imgname %>.png" class="shopItem" alt="skin">
                                        </div>

                                        <% if(skin.price > user.currency){%>
                                            <a  role="button" class="btn btn-submit btn-buy unable">
                                                <span><%= skin.price %></span>
                                                <i class="ri-coins-fill coin"></i>
                                            </a>
                                        <%} else{%>
                                            <a href="/user/shop/buy-product/<%= skin.itemid %>" role="button" class="btn btn-submit btn-buy ">
                                                <span><%= skin.price %></span>
                                                <i class="ri-coins-fill coin"></i>
                                            </a><%
                                        }%>
                                    </div><% })
                               } else{%>
                                    <div class="col">
                                        <p>You don't have any skins yet, earn some money by playing the game and by skins in your shop</p>
                                        <div class="shopItem">
                                            <img src="../assets/img/soldout.png" class="shopItem" alt="img">
                                        </div>
                                    </div>
                               <%}%>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
