<div class="d-flex align-items-center">
    <div class="container">
        <div class="row boxes">
            <div class="col-md-4 mx-auto">
                <div class="box form">
                    <div>
                        <a href="/" class="btn-func"><i class="fa fa-close"></i></a>
                    </div>
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1 >Sign up</h1>
                        </div>
                    </div>
                    <form action="/signup" method="post" name="registration">
                        <div class="form-group">
                            <label for="nickname">Nickname</label>
                            <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Enter Nickname" maxlength="14">
                            <% if (typeof errorNickname != 'undefined') { %>
                                <p class="error"><%= errorNickname %></p>
                                <script>
                                    if(typeof sessionStorage.nickname != 'undefined'){
                                        sessionStorage.removeItem("nickname");
                                    }
                                </script>
                            <%}else{%>
                                <script>
                                    if(typeof sessionStorage.nickname != 'undefined'){
                                        document.getElementById("nickname").setAttribute('value', sessionStorage.nickname)
                                    }
                                </script>
                            <%}%>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" name="email"  class="form-control" id="email" placeholder="Enter email" maxlength="255">
                            <% if (typeof errorEmail != 'undefined') { %>
                                <p class="error"><%= errorEmail %></p>
                                <script>
                                    if(typeof sessionStorage.email != 'undefined'){
                                        sessionStorage.removeItem("email");
                                    }
                                </script>
                            <%}else{%>
                                <script>
                                    if(typeof sessionStorage.email != 'undefined'){
                                        document.getElementById("email").setAttribute('value', sessionStorage.email)
                                    }
                                </script>
                            <%}%>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password"  class="form-control" placeholder="Enter Password" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="conf_password">Confirm Password</label>
                            <input type="password" name="conf_password" id="conf_password"  class="form-control" placeholder="Enter Password" maxlength="50">
                            <span id='message'></span>
                        </div>
                        <div class="box_noBorder">
                            <button type="submit" class="btn btn-submit" id="btnSubmit">Get Started For Free</button>
                            <p class="text-center"><a href="/login" id="login">Already have an account?</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const nickname = document.getElementById("nickname");
    const email = document.getElementById("email");
    const btnSubmit = document.getElementById("btnSubmit");

    btnSubmit.onclick = function (){
        if (nickname){
            sessionStorage.setItem("nickname", nickname.value)
        }
        if (email){
            sessionStorage.setItem("email", email.value)
        }
    }

    write = function (){
        if (nickname){
            sessionStorage.setItem("nickname", nickname.value)
        }
        if (email){
            sessionStorage.setItem("email", email.value)
        }
    }
</script>