<%- include("./components/settings") %>
<%- include("./components/personal_score") %>
<section id="main" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <!-- First row of boxes -->
        <div class="row boxes justify-content-center">

            <div class=" col-xs-6 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="box justify-content-center">
                    <button type="button" class="btn btn-func" data-toggle="modal" data-target="#settings">
                        <i class="fa fa-cog"></i>
                    </button>

                    <div class="row">
                        <div class="col-md-4 currentIcon">
                            <img src="assets/img/skins/<%= userSkinName %>.png" alt="<%= userSkinName %>" width="45" class="rotate">
                        </div>
                        <div class="col-md-6">
                            <h4 class="nickname"><%= user.nickname %></h4>
                            <div class="coinBox d-flex justify-content-end">
                                <span><%= user.currency %></span>
                                <i class="ri-coins-fill coin"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row bottom">
                        <div class="col-md-4 col-xs-4">
                            <a href="/user/owned-skins" class="btn btn-with-icon">
                                <i class="ri-space-ship-line"></i>
                                <p class="text-with-icon">Skins</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <a href="/user/shop" class="btn btn-with-icon">
                                <i class="ri-shopping-cart-line"></i>
                                <p class="text-with-icon">Shop</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <button type="button" class="btn-with-icon" data-toggle="modal" data-target="#personal_score">
                                <i class="bi-receipt"></i>
                                <p class="text-with-icon">Stats</p>
                            </button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-6 col-lg-3 col-xs-12 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="box justify-content-center">
                    <div class="col-xl-12 text-center" data-aos="zoom-in" data-aos-delay="700">
                        <img src="assets/img/TEXT-TRANSPARENT.webp" class="logo" alt="SPACE" width="100%">
                        <h6>Take out the leader or try to survive</h6>
                    </div>
                    <form action="/game" method="post" name="nickname">
                        <input type="text" name="nickname" class="form-control login-user" id="name" maxlength="14" placeholder="<%= user.nickname %>">
                        <button type="submit" class="btn btn-submit" id="btnPlay">Play</button>
                    </form>


                </div>
            </div>

            <%- include("./components/boxes/tip") %>

        </div>

        <!-- Second row of boxes -->
        <div class="row boxes justify-content-center">

            <%- include("./components/boxes/leaderboard") %>

            <%- include("./components/boxes/instructions") %>



        </div>
    </div>
</section>

<script type="text/javascript">
    const name = document.getElementById("name");
    const btnPlay = document.getElementById("btnPlay");
    const btnLogout = document.getElementById("btnLogout");

    if(typeof sessionStorage.name != 'undefined'){
        document.getElementById("name").setAttribute('value', sessionStorage.name)
    }

    btnPlay.onclick = function (){
        if (name){
            sessionStorage.setItem("name", name.value)
        }
    }

    btnLogout.onclick = function (){
        if (name){
            sessionStorage.clear()
        }
    }
</script>