<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
    <div class="box justify-content-center">
        <h4 class="title">What do I do?</h4>
        <p class="description">
            Collect stars and kill other players to gain points and take the lead! 
            Cheat death by dodging enemy fire and asteroid collisions!
            How long can you last, commander?
        </p>
    </div>
</div>