<div class="col-md-20 mb-6 mb-lg-0 align-items-stretch col-lg-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
    <div class="box">
        <h4 class="title">Leaderboard</h4>
       <table class="col-xs-12">
            <tr>
                <th>Place</th>
                <th>Nickname</th>
                <th>Score</th>
            </tr>
            <%
            var i =0;

            players.forEach(function(player){
                i++;
                if(player.nickname === user.nickname){
                    if(i>4){ %>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>

                    </tr>
                    <%}%>
                    <tr class="leaderboard-current-user">
                        <td><%= i %></td>
                        <td><%= player.nickname %></td>
                        <td><%= player.total_score %></td>

                    </tr>
                <%}else if(i<=3){ %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= player.nickname %></td>
                        <td><%= player.total_score %></td>
                    </tr>
            <%} }); %>

        </table>
    </div>
</div>