<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
    <div class="box">
        <h4 class="title">Controls</h4>
        <p class="description">
            Use Arrow or WAD keys to control your spaceship.
            Fire bullets by pressing Space or X keys. 
            Your shots are limited to 5 active bullets at a time.
        </p>
    </div>
</div>