
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/deep-space.jpg") top center no-repeat;
  background-size: cover;
}

:root {
  --main-bg-color: #28509E;
  --coin-color: #F8BB03;
  --main-hover-color: #6C84B4 ;
  --main-hover-text-color: #fff;

  --main-text-style: 'Arial';
  /* --currency-color: #329D1E*/
  --currency-color: #28509E;
}

a {
  color: var(--main-bg-color);
  text-decoration: none !important;
}

a:hover {
  color: var(--main-hover-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-text-style), cursive;
  color: var(--main-bg-color);
}

button{
  color: var(--main-bg-color);
  border-style: none;
  background: none;
  text-decoration: none !important;
}

button:hover {
  color: var(--main-hover-color);
  text-decoration: none;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}


/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/

.container {
  padding-top: 80px;
}

h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 28px;
}



.btn-submit{
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  border-radius: 10px;
  border-width: 0;
  transition: 0.5s;
  margin-top: 25px;
  margin-bottom: 25px;
  background: var(--main-bg-color);
  color: #fff;
}

.btn-submit:hover {
  background: var(--main-hover-color);
  color: var(--main-hover-text-color);
}

.btn-link {
  font-family: var(--main-text-style), sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  display: block;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: var(--main-bg-color);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 5px;
  border: 2px solid var(--main-bg-color);
}

.btn-link:hover {
  background: var(--main-hover-color);
  border: 2px solid var(--main-hover-color);
  color: var(--main-hover-text-color);
  text-decoration: none;
}

.btn-func {
  font-size: 20px;
  float: right;
  display: block;
  color: var(--main-bg-color);
  margin-top: -30px;
  margin-right: -10px;
}

.btn-back:hover {
  color: var(--main-hover-color);
  text-decoration: none;
}

.boxes {
  margin: 10px;
}

.box{
  position: relative;
  margin-top: 10px;
  padding: 40px 30px; /*--- objektu atstumas nuo krasto ---*/
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 700px;
}
.box_noBorder{
  display: flex;
  flex-direction: column;
}

.box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.mod{
  border-radius: 1.1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.user-table{
  background-color: var(--main-bg-color);
}


@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  body {
    height: auto;
  }
}

@media (max-width: 992px) {
  body {
    height: auto;
  }
  body h1 {
    font-size: 28px;
    line-height: 36px;
  }
  body h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

form .error {
  color: #ff0000;
}

input.error {
  border: 1px solid red;
  color: red;
}

#input-box {
  display:block;
  width:300px;
  height: 200px;
  padding: 5px 20px 20px 10px;
  position: fixed;
  top:calc(50% - 100px);
  left:calc(50% - 150px);
  background: #ff00ff;
}

div.coinBox{
  width: 80px;
  border: 2px solid var(--currency-color);
  border-radius: 1.1rem;
  position: relative;
  float: right;
  margin-bottom: 20px;
}



i.coin{
  color: var(--coin-color);
  padding-left: 8px;
  padding-right: 5px;

}

div.shopItem{
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

img.shopItem{
  width: 100%;
}

.btn-buy{
  padding: 0;
  width: 100%;
  height: 30px;
  background: var(--currency-color);
  border-radius: 1.1rem;
  margin-top: 15px;
  justify-content: center;
}

.container-module{
  padding: 10px;
}

.currentIcon{
  width: 65px;
  height: 65px;
  border: 3px solid var(--currency-color);
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
}

h4.nickname{
  color: #1a1e21;
  font-size: 20px;

}

.rotate{
  transform: rotate(-45deg);
  padding-top: 5px;
  padding-right: 5px;
}

.nav-tabs .nav-link{
 color: rgb(73, 80, 87);
}

 .nav-tabs .nav-link.active{
  color: var(--main-bg-color);
}

 .unable, .unable:hover{
   background: dimgray;
 }

 .stat_total{
   color: var(--main-bg-color);
 }

 .modal-box{
   position: relative;
   margin-top: 10px;
   padding: 10px 30px; /*--- objektu atstumas nuo krasto ---*/
   -ms-flex-direction: column;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.2);
   border-radius: 1.1rem;
   outline: 0;
   max-width: 500px;
 }

 .border-top{
   border-top-color: gray;
   border-top-width: 1px;
   border-top-style: solid;
 }
.border-bottom{
  border-bottom-color: var(--main-bg-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.text-with-icon{
  font-size: 10px;
}

.btn-with-icon{
  width: 68px;
  height:55px;
  border-radius: 4.3px;
  color: #fff;
  cursor: pointer;
  background: var(--main-bg-color);
}

tr.leaderboard-current-user{
  background-color: var(--main-bg-color);
  color: #fff;
}

p.login-invitation{
  color: var(--main-bg-color);
  font-family: var(--main-text-style), cursive;
  text-align: center;
  front-size:10px;
}

/*--------------------------------------------------------------
# display  overflow:scroll; background-color: var(--main-bg-color);
--------------------------------------------------------------*/

