<div class="row justify-content-center">
    <div class="col-xl-12 text-center" data-aos="zoom-in" data-aos-delay="700">
        <img src="assets/img/TEXT-TRANSPARENT.webp" class="logo" alt="SPACE" width="200">
        <h6>Take out the leader or try to survive</h6>
    </div>
</div>