<div class="modal" id="personal_score">
    <div class="modal-dialog">
        <div class="modal-content mod modal-box">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title text-align-center">PERSONAL STATS</h2>
                <button type="button" class="btn-func" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </button>
            </div>

            <%
            let best = [{name: "Best score", value: stats.best_score },
                {name: "Best kills", value: stats.best_kills }];

            let total = [{name: "Total score", value: stats.total_score },
                {name: "Total kills", value: stats.total_kills },
                {name: "Total deaths", value: stats.total_deaths }];

            let death = [{name: "Death by asteroid crash", value: stats.death_by_asteroid_crash },
                {name: "Death by collision with other ship", value: stats.death_by_collision_with_other_ship },
                {name: "Death by enemy shot", value: stats.death_by_enemy_shot },
                {name: "Death by own shot", value: stats.death_by_own_shot }];
            %>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <%
                        for(i=0; i < total.length; i++) { %>
                            <div class="row">
                                <div class="col-md-7 text-align-right"><p><%= total[i].name %> </p></div>
                                <div class="col-md-2"><p><%= total[i].value %></p></div>
                            </div><%
                        }%>
                    </div>
                    <div class="col-md-5">
                        <%
                        for(i=0; i < best.length; i++) { %>
                            <div class="row">
                                <div class="col-md-7 text-align-right"><p><%= best[i].name %> </p></div>
                                <div class="col-md-2"><p><%= best[i].value %></p></div>
                            </div><%
                        }%>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-md-12 text-align-center" style="padding: 10px">
                        <%
                        for(i=0; i < death.length; i++) { %>
                            <div class="row">
                                <div class="col-md-9 text-align-right"><p><%= death[i].name %> </p></div>
                                <div class="col-md-2"><p><%= death[i].value %></p></div>
                            </div><%
                        }%>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>