<div class="modal" id="settings">
    <div class="modal-dialog">
        <div class="modal-content modal-box">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Settings</h4>
                <button type="button" class="btn-func" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Coming soon...</p>
                <div class="row bottom">
                    <div class="col-md-6">
                        <a href="/logout" class="btn btn-link" id="btnLogout">Logout</a>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>